LAB 4.02

1. Import the necessary libraries if you are starting a new notebook.

In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)
import matplotlib.pyplot as plt
import seaborn as sns
  
%matplotlib inline

2. Load the csv. Use the variable customer_df as customer_df = pd.read_csv()

3. What should we do with the customer_id column? We should delete it as it is only a unique identifier for each row in the data. You can relate this to the primary key in a table in SQL

4. Load the continuous and discrete variables into numericals_df and categorical_df variables, for eg.

In [2]:
numerical_df = customer_df.select_dtypes()
categorical_df = customer_df.select_dtypes()

NameError: name 'customer_df' is not defined

In [3]:
numerical_df = customer_df.select_dtypes(np.number)
categorical_df = customer_df.select_dtypes(np.object)

NameError: name 'customer_df' is not defined

5. Plot every categorical variable. What can you see in the plots? Note that in the previous lab you used a bar plot to plot categorical data, with each unique category in the column on the x-axis and an appropriate measure on the y-axis. However, this time you will try a different plot. This time in each plot for the categorical variable you will have, each unique category in the column on the x-axis and the target(which is numerical) on the Y-axis

In [9]:
data = pd.read_csv('./files_for_lesson_and_activities/unit4.csv')

In [10]:
categoricals = data.select_dtypes(np.object)
categoricals.head()

C:\Users\SL241YM\AppData\Local\Temp\ipykernel_12620\1940378060.py:1: DeprecationWarning: `np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  categoricals = data.select_dtypes(np.object)

  STATE PVASTATE MDMAUD RECP3 GENDER DOMAIN HOMEOWNR VETERANS RFA_2
0    IL      NaN   XXXX   NaN      F     T2      NaN      NaN   L4E
1    CA      NaN   XXXX   NaN      M     S1        H      NaN   L2G
2    NC      NaN   XXXX   NaN      M     R2        U      NaN   L4E
3    CA      NaN   XXXX   NaN      F     R2        U      NaN   L4E
4    FL      NaN   XXXX     X      F     S2        H      NaN   L2F

In [11]:
for col in categoricals.columns:
   sns.barplot(x = col, y = 'total_claim_amount', data = customer_df)
   plt.show()

NameError: name 'customer_df' is not defined

6. For the categorical data, check if there is any data cleaning that need to perform. Hint: You can use the function value_counts() on each of the categorical columns and check the representation of different categories in each column. Discuss if this information might in some way be used for data cleaning.

In [13]:
for col in categoricals.columns:
   print(categoricals[col].value_counts())

CA    16284
FL     7959
TX     7166
IL     6124
MI     5375
NC     3956
WA     3383
GA     3261
IN     2855
WI     2656
MO     2583
TN     2396
AZ     2278
MN     2081
OR     2045
CO     1929
SC     1660
AL     1627
OK     1553
KY     1542
LA     1533
KS     1233
IA     1214
AR      969
MS      948
NV      923
NM      824
NE      715
UT      546
ID      504
MT      498
HI      423
SD      278
AK      275
WY      267
ND      241
AP       78
NY       70
VA       54
OH       52
PA       36
MD       30
MA       25
NJ       24
CT       20
AA       15
AE       14
ME       11
NH        8
RI        6
VT        6
VI        5
WV        3
GU        3
DE        3
AS        1
DC        1
Name: STATE, dtype: int64
P    1380
E       5
Name: PVASTATE, dtype: int64
XXXX    90290
C1CM       59
L1CM       44
I1CM       34
D2CM       27
C2CM       23
D1CM       19
L2CM       14
C1LM        8
L1LM        8
I2CM        7
D5CM        5
D5MM        5
D2MM        4
I1LM        3
D5TM        3
C2MM        3
C5CM        3
C2LM        2
C1MM        1
I2MM        1
I5CM        1
I5MM        1
C5MM        1
L1MM        1
C5TM        1
L2TM        1
Name: MDMAUD, dtype: int64
X    1833
Name: RECP3, dtype: int64
F    48668
M    37132
U     1635
J      336
C        2
A        1
Name: GENDER, dtype: int64
R2    13006
T2    11717
S1    10866
S2     8054
C2     7834
C1     5793
C3     5056
T1     4712
R3     4572
U1     4259
U2     3111
U3     2484
T3     2092
S3     1817
U4     1735
R1     1285
Name: DOMAIN, dtype: int64
H    49646
U    19872
Name: HOMEOWNR, dtype: int64
Y    9846
Name: VETERANS, dtype: int64
L1F    29207
L1G    12007
L2F    10398
L3E     7244
L2E     4681
L1E     4667
L4D     4449
L2G     4410
L4E     3647
L3F     3352
L3D     2267
L4F     1951
L3G     1425
L4G      864
Name: RFA_2, dtype: int64

Save data to use in the next lesson 4.03:

In [14]:
data.drop('Unnamed: 0', axis=1, inplace=True)

In [15]:
import pickle
with open("data.pickle", 'wb') as fp:
    pickle.dump(data, fp)